body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    margin: 0;
    background-image: url(./istockphoto-1177151633-612x612.jpg);
    background-size:contain;
}

.container {
    text-align: center;
    background-color: rgb(129, 155, 110);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#stopwatchDisplay {
    font-size: 3em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#controls {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #bbb;
}

#lapList {
    list-style-type: none;
    padding: 0;
}

#lapList li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
